.container {
    width: 85%;
    background-color: #f2f2f2;
    margin: auto; /* центрирование блока */
    padding: 20px;
    display: flex;
    justify-content: center; /* выравнивание по горизонтали */
    flex-wrap: wrap; /* убираем поведение flex в одну строку */
}
.item {
    width: calc(50% - 20px); /* ширина */
    height: 250px; /* высота */
    background-color: #ee7d28; /* цвет фона */
    margin: 10px; /* внешний отступ */
}
.item-1 {
    background-image: url(./images/img1.jpg); /* добавляем фоновую картинку */
    background-size: cover; /* масштабируем */
    /* background-repeat: no-repeat; /* не повторять фон */ 
    /* background-position: center; разместить фон по центру  */
}