img {
    display: block;
    margin: auto;
    border-radius:50%;
    


}

h2, h4{
    color: blue;
    text-align: center;
}
button{
    display: block;
    margin: auto;
    background-color: red;
    color: white;

}
