div{
    width: 150px;
    height: 150px;
    background-color: blue;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;

}
/* як розмищати любе фото чи круг (деталь) 
в певному мисци та закрипити щоб вин не рухався дальше не залежно 
вид скроленя тексту чи сторинки*/